{% include 'navheader.html' %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/management">
              
              <span data-feather="home"></span>
              All Patient Details <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/NewPatients">
              <span data-feather="file"></span>
              New Patient
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/UpdatePatient">
              <span data-feather="shopping-cart"></span>
              Update patient details
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/DeletePatient">
              <span data-feather="users"></span>
              Delete patient details
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/SearchPatient">
              <span data-feather="bar-chart-2"></span>
              Search patient
            </a>
          </li>
          
      </div>
    </nav>
 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="container">
  {%block body %}{% endblock %}
  </div>
  </main>
</div></div></div>
</body>
    